/* .background {
    background-image: url("./images/worldmap.jpg");
    background-size: contain;
    transition: 2s;
} */

.backgroundimg {
  margin-top: -1%;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 2s;

}

.backgroundmideast {
  width: 250%;
  height: 250%;
  transform: translate(-1875px, -320px);
  z-index: -1;
  margin-top: -1%;
  transition: 2s;
  position: fixed;
}

.backgroundafrica {
  width: 250%;
  height: 250%;
  transform: translate(-1530px, -500px);
  z-index: -1;
  margin-top: -1%;
  transition: 2s;
  position: fixed;
}

.backgroundnorthasia {
  width: 300%;
  height: 300%;
  transform: translate(-3065px, -500px);
  z-index: -1;
  margin-top: -1%;
  transition: 2s;
  position: fixed;
}

.backgroundeurope {
  width: 250%;
  height: 250%;
  transform: translate(-1619px, -50px);
  z-index: -1;
  margin-top: -1%;
  transition: 2s;
  position: fixed;
}

#maintextdisplay {
  margin:  15px; 
  display: block;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header {
  display: flex;
  text-align: left;
  margin: 1%;
  color: white;
  position: absolute;
  z-index: 1;
}

.header h1{
  font-size: 24px;
  color: white;
}

#octoTop {
  display: flex;
  justify-content: center;
  margin-bottom: -2%;
}

#octoMid1 {
  display: flex;
  justify-content: space-around;
}

#centerprompt {
  font-size: 36px;
  z-index: -1;
}


#text1card {
  justify-content: center;
  /* background-image: url("./images/inca-thumbnail.jpg"); */
  background-size: cover;
}


#text2card {
  margin-left: 5%;
  justify-content: flex-end;
  /* background-image: url("./images/aztec-thumbnail.jpg"); */
  background-size: cover;
}

#text3card {
  margin-right: 5%;
  justify-content: center;
  /* background-image: url("./images/chinese-thumbnail.jpg"); */
  background-size: cover;
}

#text4card {
  justify-content: center;
  /* background-image: url("./images/europe-thumbnail.jpg"); */
  background-size: cover;
}

#octoMid2 {
  margin-top: 0%;
  margin-bottom: 0%;
}

#octocenter {
  display: flex;
  justify-content: center;
  width: 65%;
  color: white;
}


#text5card {
  /* background-image: url("./images/europe-thumbnail.jpg"); */
  background-size: cover;
}

#text6card {
  margin-left: 5%;
  justify-content: center;
  /* background-image: url("./images/ottoman-thumbnail.png"); */
  background-size: cover;
}

#text7card {
  margin-right: -15%;
  justify-content: center;
  /* background-image: url("./images/yoruba-thumbnail.jpg"); */
  background-size: cover;
}

#text8card {
  justify-content: center;
  justify-content: center;
  /* background-image: url("./images/seuna-thumbnail.jpg"); */
  background-size: cover;
}

#octoMid2 {
  display: flex;
  justify-content: space-evenly;
}
/*
#centertext {
  text-align: center;
  padding-top: 20px;
  color: white;
  font-size: large;
}
*/

#octoMid3 {
  display: flex;
  justify-content: space-around;
}

#octoBottom {
  display: flex;
  justify-content: center;
  margin-top: -5%;
}

.textdisplay {
  display: block;
}

.text {
  margin: 5%;
  transition: 2s;
}


.buttons {
  display: flex;
  justify-content: center;

}

.textcard {
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 150px;
    padding: 20px;
    margin: 3px;
   /* background-color: rgb(206, 206, 206);*/
    border: hidden;
    border-radius: 70% / 65%;
    box-shadow: 5px 5px 3px rgb(34, 34, 34);
    color: rgba(255, 255, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    transition: 2s;
}



.textcard:hover {
  color: rgb(255, 255, 255);
}

.infocard {
  width: 500px;
  height: 300px;
  transition: 2s;
}

.smallbubble {
  width: 100px;
  height: 50px;
  border-radius: 70% / 65%;
  transition: 2s;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin: 0%;
    width: 75%; /* Full width */
    height: 75%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
      background-image: linear-gradient(to bottom right, rgba(156, 156, 156, 0.548), rgb(65, 65, 65));
      margin: 15%; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 50%; /* Could be more or less, depending on screen size */
      height: 50%;
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
    }
    
    /* The Close Button */
.close {
    color: #aaa;
    float: center;
    font-size: 28px;
    font-weight: bold;
    }
    
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }

.hidden {
  display: none;
}

.button {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50% / 50%;
  background-color: rgb(249, 2, 154);
  color: white;
  font-size: 16px;
  text-align: center;
  align-items: center;
  margin: 50%;
}

.button:hover {
  color: rgb(144, 76, 76);
  background-color: rgb(106, 106, 143);
}

.authorbutton:hover {
  color: rgb(144, 76, 76);
  background-color: rgb(106, 106, 143);
}

#authorpage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilepic{
  display: block;
  margin-left: -1%;
  max-width: 400px;
  border-radius: 50% / 50%;;
}

#authorcard {
 position: absolute;
 margin-left: 33%;
 margin-top: 25%;
  max-width: 500px;
  transition: 2s;
  color: white;
}


.tile {
  margin: 2px;
  padding: 3px;
  background-color: white;
  border-radius: 3px;
}

.contactme {
  font-size: 36px;
  color:rgb(249, 2, 154);
}

.contactform {
  display: block;
}

#formemail::placeholder {
  opacity: 0.5;
}